/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
	border-radius: 3px;
}

.success {
    padding: 20px;
    background-color: #6abc6e; /* Green */
    color: white;
    margin-bottom: 15px;
	border-radius: 3px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.header {
	background: #333333; /* Dark Grey */
	margin-bottom: 3rem;
}

.header .menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header .menu li {
	float: left;
	margin: 0;
}
.header .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.header .menu li a:hover {
    background-color: #111;
}
.header .menu li a.active {
    background-color: #4CAF50;
}